{% extends "base.html" %}
{% block title %}
	{{block.super}}
{% endblock title %}

{% block content %}
	{% for e in form.non_field_errors %}
		<div>{{e}}</div>
	{% endfor %}
	<form method="post", action="/login/">
		{% csrf_token %}
		<fieldset>
			<div>
				{% for field in form %}
					{% if field.errors %}has-error{% endif %}
					<label>{{field.label}}</label>
					<div>{{field}}</div>
				{% endfor %}
			</div>
		</fieldset>
	
		<div>
			<button type="submit">Log In</button>
		</div>
	</form>
{% endblock content %}