{% extends "base.html" %}
{% block title %}
	{{block.super}}
{% endblock title %}

{% block content %}
	<p>{{question.title}}<p>
	<p>{{question.text}}<p>
	{% for a in answers %}
		<p>{{a.text}}</p>
	{% endfor %}
	{% for e in form.non_field_errors %}
		<div>{{e}}</div>
	{% endfor %}
	<form method="post", action="/question/{{question.id}}/">
		<fieldset>
			<div>
				{% for field in form %}
					{% if field.errors %}has-error{% endif %}
					<label>{{field.label}}</label>
					<div>{{field}}</div>
				{% endfor %}
			</div>
		</fieldset>
	
		<div>
			<button type="submit">Save</button>
		</div>
	</form>
{% endblock content %}